
@{
    ViewBag.Title = "AcikDosyalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/smartadmin-html-full/dist/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print" />
@*<link href="~/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />*@
<link href="~/smartadmin-html-full/dist/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css" rel="stylesheet" />
<div class="modal-body">
    <div class="panel">
        <div class="panel-hdr bg-danger-900 bg-info-gradient">
            <h2 class="IslemTip">Dosya Arama</h2>
            <div class="panel-toolbar">
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                @*<input type="hidden" id="FaturaId" />*@
                <div class="row m-auto">

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label"><strong>Dosya No</strong></label>
                            <input type="text" id="DosyaNo" name="DosyaNo" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label"><strong>Araç Plaka</strong></label>
                            <input type="text" id="AracPlaka" name="AracPlaka" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                        </div>
                    </div>
                </div>
                <div class="row m-auto">

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label"><strong>Sigorta Şirketi</strong></label>
                            <input type="text" id="SigortaSirketi" name="SigortaSirketi" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label"><strong>Marka</strong></label>
                            <input type="text" id="Marka" name="Marka" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                        </div>
                    </div>
                </div>
                <div class="row m-auto">

                    <div class="col-lg-6 col-md-12">
                        <div class="form-group ">
                            <label class="col-form-label"><strong>Onarım İhbar Tarihi</strong></label>
                            <input type="text" class="form-control" id="OnarimIhbarTarihi">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group ">
                            <label class="col-form-label"><strong>Cevap Tarihi</strong></label>
                            <input type="text" class="form-control" id="CevapTarihi">
                        </div>
                    </div>
                </div>

                <div class="row m-auto">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="col-form-label"><strong>Dosya Durumu</strong></label>
                            <input type="text" id="DosyaDurumu" name="DosyaDurumu" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group ">
                            <label class="col-form-label"><strong>Dosya Kapatma Tarihi</strong></label>
                            <input type="text" class="form-control" id="DosyaKapatmaTarihi">
                        </div>
                    </div>
                </div>
                <div class="ml-6 mt-4 mb-2 d-flex justify-content-end">
                    <div class="center">
                        <button type="submit" class="btn btn-success"> Listele </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-hdr bg-danger-900 bg-info-gradient">
            <h2>Dosya Listesi </h2>
            <div class="panel-toolbar">

            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">

                <div id="TableDiv">
                    <table id="dt-basic-example" class="table  table-hover table-light table-responsive-sm table-light table-striped ">
                        <thead class=" bg-info-900 ">
                            <tr>
                                <th>Sigorta Şirketi</th>
                                <th>Şube</th>
                                <th>Dosya No</th>
                                <th>Dosya Durumu</th>
                                <th>Dosya Kapatma Tarihi</th>
                                <th>Branş</th>
                                <th>Plaka</th>
                                <th>Model</th>
                                <th>Onarım İhbar Tarihi</th>
                                <th>Cevap Tarihi</th>
                                <th>Parça Adeti</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sigorta Şirketi</td>
                                <td>Şube</td>
                                <td>Dosya No</td>
                                <td>Dosya Durumu</td>
                                <td>Dosya Kapatma Tarihi</td>
                                <td>Branş</td>
                                <td>Plaka</td>
                                <td>Model</td>
                                <td>Onarım İhbar Tarihi</td>
                                <td>Cevap Tarihi</td>
                                <td>Parça Adeti</td>

                            </tr>
                            <tr>
                                <td>Sigorta Şirketi</td>
                                <td>Şube</td>
                                <td>Dosya No</td>
                                <td>Dosya Durumu</td>
                                <td>Dosya Kapatma Tarihi</td>
                                <td>Branş</td>
                                <td>Plaka</td>
                                <td>Model</td>
                                <td>Onarım İhbar Tarihi</td>
                                <td>Cevap Tarihi</td>
                                <td>Parça Adeti</td>

                            </tr>
                            <tr>
                                <td>Sigorta Şirketi</td>
                                <td>Şube</td>
                                <td>Dosya No</td>
                                <td>Dosya Durumu</td>
                                <td>Dosya Kapatma Tarihi</td>
                                <td>Branş</td>
                                <td>Plaka</td>
                                <td>Model</td>
                                <td>Onarım İhbar Tarihi</td>
                                <td>Cevap Tarihi</td>
                                <td>Parça Adeti</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section ScriptsBlock{
    <script src="~/smartadmin-html-full/dist/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/smartadmin-html-full/dist/js/datagrid/datatables/datatables.export.js"></script>
    @*<script src="~/smartadmin-html-full/dist/js/formplugins/select2/select2.bundle.js"></script>
        <script src="~/Scripts/DropDown.js"></script>*@
    <script src="~/smartadmin-html-full/dist/js/dependency/moment/moment.js"></script>
    <script src="~/smartadmin-html-full/dist/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#dt-basic-example thead tr').clone(true).appendTo('#dt-basic-example thead');
            $('#dt-basic-example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#dt-basic-example').DataTable(
                {
                    orderCellsTop: true,
                    fixedHeader: true,
                    responsive: true,
                    lengthChange: false,
                    dom:
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Sütun Seç',
                            titleAttr: 'Görüntülenecek sütunlar',
                            className: 'mr-sm-3'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: 'PDF',
                            titleAttr: 'Generate PDF',
                            className: 'btn-outline-danger btn-sm mr-1'
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            titleAttr: 'Generate Excel',
                            className: 'btn-outline-success btn-sm mr-1'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Kopyala',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'print',
                            text: 'Yazdır',
                            titleAttr: 'Tabloyu Yazdır',
                            className: 'btn-outline-primary btn-sm'
                        }
                    ]
                });
            $('#OnarimIhbarTarihi').daterangepicker(
                {
                    "showDropdowns": true,
                    "showWeekNumbers": false,
                    "showISOWeekNumbers": false,
                    "timePicker": false,
                    "timePicker24Hour": false,
                    "timePickerSeconds": false,
                    "autoApply": true,
                    "maxSpan":
                    {
                        "days": 30
                    },
                    locale: {
                        format: "DD/MM/yy",

                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
                        firstDay: 1
                    },
                    ranges:
                    {
                        'Bugün': [moment(), moment()],
                        'Dün': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Son 7 Gün': [moment().subtract(6, 'days'), moment()],
                        'Son 30 Gün': [moment().subtract(29, 'days'), moment()],
                        'Bu Ay': [moment().startOf('month'), moment().endOf('month')],
                        'Geçen Ay': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    "alwaysShowCalendars": true,
                    "applyButtonClasses": "btn-default shadow-0",
                    "cancelClass": "btn-success shadow-0"
                }, function (start, end, label) {
                    console.log('New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (predefined range: ' + label + ')');

            });
            $('#OnarimIhbarTarihi').on("change", function () {
                var selected = $(this).val();
                var ilkgun = selected.slice(0, 2);
                var ilkay = selected.slice(3, 5);
                var ilkyil = selected.slice(6, 10);
                var ilkTarih = ilkay + "/" + ilkgun + "/" + ilkyil;
                var songun = selected.slice(13, 15);
                var sonay = selected.slice(16, 18);
                var sonyil = selected.slice(19, 23);
                var sonTarih = sonay + "/" + songun + "/" + sonyil;
                console.log(ilkTarih)
                console.log(sonTarih)
            });
            $('#CevapTarihi').daterangepicker(
                {
                    "showDropdowns": true,
                    "showWeekNumbers": false,
                    "showISOWeekNumbers": false,
                    "timePicker": false,
                    "timePicker24Hour": false,
                    "timePickerSeconds": false,
                    "autoApply": true,
                    "maxSpan":
                    {
                        "days": 30
                    },
                    locale: {
                        format: "DD/MM/yy",

                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
                        firstDay: 1
                    },
                    ranges:
                    {
                        'Bugün': [moment(), moment()],
                        'Dün': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Son 7 Gün': [moment().subtract(6, 'days'), moment()],
                        'Son 30 Gün': [moment().subtract(29, 'days'), moment()],
                        'Bu Ay': [moment().startOf('month'), moment().endOf('month')],
                        'Geçen Ay': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    "alwaysShowCalendars": true,
                    "applyButtonClasses": "btn-default shadow-0",
                    "cancelClass": "btn-success shadow-0"
                }, function (start, end, label) {
                    console.log('New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (predefined range: ' + label + ')');

            });
            $('#CevapTarihi').on("change", function () {
                var selected = $(this).val();
                var ilkgun = selected.slice(0, 2);
                var ilkay = selected.slice(3, 5);
                var ilkyil = selected.slice(6, 10);
                var ilkTarih = ilkay + "/" + ilkgun + "/" + ilkyil;
                var songun = selected.slice(13, 15);
                var sonay = selected.slice(16, 18);
                var sonyil = selected.slice(19, 23);
                var sonTarih = sonay + "/" + songun + "/" + sonyil;
                console.log(ilkTarih)
                console.log(sonTarih)
            });
            $('#DosyaKapatmaTarihi').daterangepicker(
                {
                    "showDropdowns": true,
                    "showWeekNumbers": false,
                    "showISOWeekNumbers": false,
                    "timePicker": false,
                    "timePicker24Hour": false,
                    "timePickerSeconds": false,
                    "autoApply": true,
                    "maxSpan":
                    {
                        "days": 30
                    },
                    locale: {
                        format: "DD/MM/yy",

                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
                        firstDay: 1
                    },
                    ranges:
                    {
                        'Bugün': [moment(), moment()],
                        'Dün': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Son 7 Gün': [moment().subtract(6, 'days'), moment()],
                        'Son 30 Gün': [moment().subtract(29, 'days'), moment()],
                        'Bu Ay': [moment().startOf('month'), moment().endOf('month')],
                        'Geçen Ay': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    "alwaysShowCalendars": true,
                    "applyButtonClasses": "btn-default shadow-0",
                    "cancelClass": "btn-success shadow-0"
                }, function (start, end, label) {
                    console.log('New date range selected: ' + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY') + ' (predefined range: ' + label + ')');

            });
            $('#DosyaKapatmaTarihi').on("change", function () {
                var selected = $(this).val();
                var ilkgun = selected.slice(0, 2);
                var ilkay = selected.slice(3, 5);
                var ilkyil = selected.slice(6, 10);
                var ilkTarih = ilkay + "/" + ilkgun + "/" + ilkyil;
                var songun = selected.slice(13, 15);
                var sonay = selected.slice(16, 18);
                var sonyil = selected.slice(19, 23);
                var sonTarih = sonay + "/" + songun + "/" + sonyil;
                console.log(ilkTarih)
                console.log(sonTarih)
            });
        });

    </script>
}